<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://metrolyapp.com" version="1.0.0" viewmodes="maximized">
    <access origin="*" subdomains="true"></access>
    <tizen:application id="sQBPg8sSjJ.metroly" package="sQBPg8sSjJ" required_version="2.2"/>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <name>metroly</name>
    <tizen:privilege name="http://tizen.org/privilege/location"/>
    <tizen:privilege name="http://tizen.org/privilege/unlimitedstorage"/>
</widget>
